.tile {
    width: 30px;
    height: 30px;
    box-sizing: border-box;
}

.grid {
    border: 1px solid black;
    display: flex;  
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    width: 1080px;
    height: 1080px;
}